@import '../common/gem.scss'

.section__destination
    &--title
        margin-bottom: gem(64)
        span
            margin-right: gem(28)
            font-weight: var(--font-weight-7)
            color: var(--color-white)
            opacity: 0.25
    .bg
        background-image: url('assets/img/destination/background-destination-desktop.jpg')

    .contents
        padding: gem(212) 0 gem(112)

    .tabs-section
        display: flex
        justify-content: flex-end
        align-items: flex-start

        &__left
            position: relative
            margin-top: gem(33)
            width: gem(445)
            height: gem(445)
            img
                opacity: 0
                visibility: hidden
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                transition: opacity 0.5s ease
                &.active
                    opacity: 1
                    visibility: visible
        &__right
            margin-left: gem(157)
            width: gem(445)
        
        .tab-toggles
            &__list
                margin-bottom: gem(37)
                display: flex
                justify-content: flex-start
                align-items: center
                gap: gem(35)

            &__item
                position: relative
                padding-bottom: gem(15)
                cursor: pointer
                &.active
                    &::after
                        content: ''
                        position: absolute
                        left: 0
                        bottom: 0
                        width: 100%
                        height: gem(3)
                        background-color: var(--color-white)
                    

        .tab-description
            position: relative
            &__title
                margin-bottom: gem(14)

            &__text
                margin-bottom: gem(28)
                padding-bottom: gem(54)
                color: var(--color-purple)
                border-bottom: gem(1) solid var(--color-divider)
            
            &__stats
                width: gem(344)
                display: flex
                justify-content: space-between
                align-items: center
                .stats-right,
                .stats-left
                    display: flex
                    flex-direction: column
                    .sub-2
                        margin-bottom: gem(12)
                        color: var(--color-purple)
            
            .tab
                position: absolute
                top: 0
                left: 0
                opacity: 0
                visibility: hidden
                pointer-events: none
                transition: all 0.5s ease
                &.active
                    opacity: 1
                    visibility: visible
                    pointer-events: all